.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
}

.center-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;

  h2 {
    padding-left: 20px;
  }
}

.nav {
  padding: 0 2rem;
  ul {
    display: flex;
    gap: 1.5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  button {
    @media (max-width: 768px) {
      display: inline;
    }
  }

  li {
    list-style: none;
  }

  button {
    border: transparent;
  }
}

.responsive-menu-active {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2rem 1.5rem;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.responsive-menu-hidden {
  display: none;
}

.hidden {
  display: none;
}
