* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@media (max-width: 576px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 93.74%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 100%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

p {
  color: #777;
}

a {
  text-decoration: none;
  color: #777;
  cursor: pointer;
  font-size: 0.9rem;
}
